.header h1 {
    font-family: 'Signika', sans-serif;
    color: white;
    font-size: 60px;
    padding-left: 32%;
    width: 35%;
    padding-top: 18%;
    text-align: center;


}

.header {
    background-image: url(images/picture1.jpg);
    height: 90%;
    background-repeat: no-repeat;
    background-size: cover;
}

body,
html {
    height: 100%;
}



.text {
    color: white;
    width: 35;

    text-align: center;





}