 h1 {
     font-family: 'Signika', sans-serif;
     color: white;
     font-size: 70px;
     padding-left: 32%;
     width: 105%;
     padding-top: 15%;
     padding-left: 0%;
     padding-right: 10%;

     text-align: center;
 }

 .header {
     background-image: url(images/picture1.jpg);
     width: 100%;
     height: 80%;
     padding-top: 100px;
     background-repeat: no-repeat;
     background-size: cover;


 }

 body,
 html {
     height: 100%;
 }

 .text {
     color: white;
     padding: 15px 20px;
     text-align: center;
     font-size: 30px;

 }

 .link-button {
     text-decoration: none;
     color: white;
     background-color: green;
     padding: 15px;
     border-radius: 10px;
     font-size: 40px;
 }

 .second-section h1 {
     color: black;
     padding-top: 0%;
     font-size: 70px;
 }

 .second-section {
     color: gray;
     text-align: center;
     font-size: 30px;
 }

 .second-section h2 {
     color: black;
     display: flex;
 }

 .third-section {
     display: flex;
     margin-left: 5%;
     margin-right: 5%;
     padding-left: 15%;
     padding-right: 15%;




 }

 .box-size h2 {
     margin: 10px;


 }

 #amount-red {
     color: red;
     width: 50%;
     margin: 10px;



 }


 .box-size {
     padding-left: 5%;
     padding-right: 5%;
     padding-top: 15%;
     width: 100px;
     height: 250px;
     background-color: rgb(240, 234, 234);
     margin: 10px;


 }

 #donate-botton2 {
     text-decoration: none;
     background-color: green;
     border-radius: 10px;
     padding: 15px;
     color: white;

 }

 #other-amount {
     color: aqua;
 }

 .our-donate-plan h1 {
     color: black;
     padding-top: 50px;

 }

 .donate-food-etc {
     display: flex;
     width: 60%;
     height: 40%;
     border: 10%;
     margin-left: 28%;
     padding-top: 5%;

 }

 #background-blue {
     background-color: rgb(171, 171, 241);
     font-size: 20px;
     margin-right: 10%;
     padding-left: 40px;
     padding-right: 40px;

 }

 #background-pink {
     background-color: rgb(241, 215, 220);
     font-size: 20px;
     margin-right: 10%;
     padding-left: 40px;
     padding-right: 40px;

 }

 #background-yellow {
     background-color: rgb(226, 226, 183);
     font-size: 20px;
     margin-right: 10%;
     padding-left: 40px;
     padding-right: 40px;



 }

 .help-them {
     display: flex;
     padding-top: 10%;
     padding-left: 10%;
     padding-right: 20%;




 }

 .set-possition {
     width 100%;
     padding-left: 10%;
     padding-right: 10%;
 }

 .set-possition img {
     width: 110%;
 }

 .help-them h2 {
     font-size: 50px;
     font-family: 'Signika', sans-serif;
 }

 #how-to-contribute {


     text-decoration: none;
     background-color: green;
     border-radius: 10px;
     padding: 15px;
     color: white;
 }

 .get-my-update {
     width: 50%;
     padding-left: 25%;
     padding-top: 10%;
     text-align: center;

 }

 .get-my-update h2 {
     font-size: 50px;
 }


 .subscribe {
     padding-top: 5%;
     padding-left: 45%;
     padding-right: 40%;
     box-shadow: 5px 7px 40px rgb(219, 219, 173);
     width: 20%;
     height: 80%;

 }

 #footer {
     text-align: center;
     background-color: black;
     color: green;


 }